.navbar__logo, .navbar__menu, .navbar__menu--links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar {
  background: #dee4e9;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem calc((100vw - 1200px) / 2);
  z-index: 10;
  border-bottom: 1px #222121;
}

.navbar__logo {
  color: #222121;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  margin-left: 24px;
}

.navbar__bars {
  opacity: 0;
}

.navbar__menu {
  list-style: none;
  text-align: center;
  margin-right: 24px;
}

.navbar__menu--links {
  color: #222121;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
}

.navbar__menu--links:hover {
  color: #00cc66;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbar__menu #button {
  padding: 12px 24px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #00cc66;
  margin-left: 16px;
  color: #f7f7f7;
}

.navbar__menu #button:hover {
  background: #fb4b4e;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.body-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  background: #f7f7f7;
}

.container {
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px 30px;
  border-radius: 5px;
}

.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.container .title::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 22px;
  background: #00cc66;
}

.container form .user-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .user-details .data {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

.user-details .data .details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details .data input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #00cc66;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.user-details .data input:focus,
.user-details .data input:valid {
  border-color: #00cc66;
}

form .gender-details .gender-title {
  font-size: 20px;
  font-weight: 500;
}

form .gender-details .category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: 14px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gender-details .category label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gender-details .category .dot {
  height: 18px;
  width: 18px;
  background: #dee4e9;
  border-radius: 50%;
  margin-right: 10px;
  border: 5px solid transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three {
  border-color: #dee4e9;
  background: #00cc66;
}

form input[type="radio"] {
  display: none;
}

form .button {
  height: 45px;
  margin: 45px 0;
}

form .button input {
  height: 100%;
  width: 100%;
  outline: none;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  letter-spacing: 1px;
  background: #00cc66;
}

form .button input:hover {
  background: #fb4b4e;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.car {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #f7f7f7;
  padding-right: 80px;
  padding-left: 80px;
}

.car__container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30px;
          flex: 1 1 30px;
  background: #fff;
  border: 1px solid #222121;
  position: relative;
  overflow: hidden;
  margin: 20px;
}

.car__image {
  padding: 10px;
  background: #f7f7f7;
  text-align: center;
}

.car__image img {
  height: 200px;
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  -webkit-filter: drop-shadow(#222121);
          filter: drop-shadow(#222121);
}

.car__container .info .title {
  padding: 10px;
  color: dimgray;
  font-size: 20px;
}

.car__container .info .subInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 10px;
  border-top: 1px solid #222121;
}

.car__container .info .subInfo .price {
  color: #FFAE0C;
  font-size: 20px;
}

.car__container .info .subInfo .price span {
  font-size: 15px;
  color: #fb4b4e;
  text-decoration: line-through;
}

.car__container .info .subInfo .stars i {
  color: #FFAE0C;
  font-size: 17px;
}

.car__container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 223px;
  width: 100%;
  background: #222121;
  opacity: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: none;
  transition: none;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.car__container:hover .overlay {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.car__container .overlay a {
  color: #696969;
  background: #fff;
  margin: 10px;
  padding: 13px 15px;
  font-size: 25px;
  -webkit-transform: translateY(-150px);
          transform: translateY(-150px);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-delay: calc(.1s * var(--i));
          transition-delay: calc(.1s * var(--i));
}

.car__container .overlay a:hover {
  color: #FFAE0C;
}

.car__container:hover .overlay a {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.wrapper {
  width: 1100px;
  margin: auto;
  position: relative;
}

.footer {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
}

.footer h3 {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 800;
  font-size: 30px;
  margin-bottom: 20px;
  color: #364f6b;
  width: 100%;
  line-height: 50px;
}

.footer-section {
  width: 20%;
  margin: 0 auto;
}

#contact {
  background: #dee4e9;
  padding: 50px 0px 50px 0px;
}

#copyright {
  text-align: center;
  width: 100%;
  padding: 50px 0px 50px 0px;
  margin-top: 10px;
}

.body-form2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  background: #f7f7f7;
}

.container2 {
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px 30px;
  border-radius: 5px;
}

.container2 .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.container2 .title::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 22px;
  background: #00cc66;
}

.container2 form .user-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

.user-details .input-box .details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #00cc66;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: #00cc66;
}

form .gender-details .gender-title {
  font-size: 20px;
  font-weight: 500;
}

form .gender-details .category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: 14px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gender-details .category label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gender-details .category .dot {
  height: 18px;
  width: 18px;
  background: #dee4e9;
  border-radius: 50%;
  margin-right: 10px;
  border: 5px solid transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three {
  border-color: #dee4e9;
  background: #00cc66;
}

form input[type="radio"] {
  display: none;
}

form .button {
  height: 45px;
  margin: 45px 0;
}

form .button input {
  height: 100%;
  width: 100%;
  outline: none;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  letter-spacing: 1px;
  background: #00cc66;
}

form .button input:hover {
  background: #fb4b4e;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
}

.hero {
  background-color: #f7f7f7;
}

.hero__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  margin: 0 auto;
  height: 90vh;
  z-index: 1;
  width: 100%;
  max-width: 1200px;
  padding-right: 24px;
  padding-left: 24px;
}

.hero__container--left {
  width: 100%;
  line-height: 1.2;
}

.hero__container--left h1 {
  font-size: 4rem;
  color: #00cc66;
}

.hero__container--left h2 {
  font-size: 4rem;
  color: #222121;
}

.hero__container--left p {
  font-size: 2rem;
  color: #222121;
  margin-top: 1rem;
  font-weight: 700;
}

.hero__container--btn {
  font-size: 1rem;
  background-color: #00cc66;
  padding: 14px 32px;
  border: none;
  border-radius: 4px;
  color: #f7f7f7;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  outline: none;
}

.hero__container--btn a {
  position: relative;
  z-index: 2;
  color: #f7f7f7;
  text-decoration: none;
}

.hero__container--btn:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #fb4b4e;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 4px;
}

.hero__container--btn:hover:after {
  width: 100%;
}

.hero__container--right {
  text-align: center;
}

.hero__container--img {
  height: 100%;
  width: 100%;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 80%;
  border: 3px solid #00cc66;
  border-right: none;
  padding: 12px;
  height: 20px;
  border-radius: 50px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 30px;
  height: 25px;
  border: 1px solid #00cc66;
  background: #00cc66;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 15%;
  position: relative;
  top: 50%;
  left: 24%;
  transform: translate(-100%, -20%);
}

/*# sourceMappingURL=styles.css.map */